<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Chat con Websockets</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>